# Ignoriši sve fajlove sa ekstenzijom .log
*.log

# Ignoriši direktorijum sa nazivom "build"
build/

# Ignoriši fajl sa nazivom "credentials.txt"
credentials.txt

# Ignoriši sve fajlove u određenom direktorijumu
folder/.*

# Ignoriši određeni fajl u određenom direktorijumu
folder/file.txt